VITE_GUARDIAN_API_URL=https://content.guardianapis.com
VITE_GUARDIAN_API_KEY=b93cba76-5555-4ff7-b2e7-f46e14dacb24

VITE_NYT_API_URL=https://api.nytimes.com/svc/search/v2
VITE_NYT_API_KEY=tPANnHApVVJsahkVHkH8erMKlvuHqtTWNEXujJnBn9iXKZ7B

VITE_GNEWS_API_URL=https://gnews.io/api/v4
VITE_GNEWS_API_KEY=56a901419c384e5e4a82817d0ae04ba1